@model RealEstateExample.ViewModels.ListingScheduleTypeViewModel
@{
    ViewBag.Title = "Edit";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @if (Model.ListingScheduleType == null)
    {
        <text>New Listing</text>
    }
    else
    {
        <text>Edit Listing</text>
    }
</h2>
@using (Html.BeginForm("Save", "ListingScheduleTypes"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.ListingScheduleType.Cost)
        @Html.TextBoxFor(c => c.ListingScheduleType.Cost, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.ListingScheduleType.DiscountRate)
        @Html.TextBoxFor(c => c.ListingScheduleType.DiscountRate, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(c => c.ListingScheduleType.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}
