@model IEnumerable<RealEstateExample.Models.Realtor>
@{
//  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Realtors</title>
</head>
<body>

    <h2>Realtors</h2>

    @Html.ActionLink("New Realtor", "New", "Realtors", new { @class = "btn btn-primary" })

    @if (!Model.Any())
    {
        <p>No realtors yet</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Realtors</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var realtor in Model)
                {
                    <tr>
                        <td>@Html.ActionLink("Edit", "Edit", "Realtors", new { id = realtor.Id }, new { @class = "btn btn-primary" })</td>
                        <td>@Html.ActionLink(realtor.Name.Length == 0 ? "Null" : realtor.Name, "Details", "Realtors", new { id = realtor.Id }, null)</td>
                        <td>@realtor.Description</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Realtors", new { id = realtor.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</body>
</html>

@section scripts
{
    <script>

    </script>
}