<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Real Estate Example</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Real Estate Example", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <!--li>@Html.ActionLink("About", "About", "Home")</li-->
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Realtors", "Index", "Realtors")</li>
                    <li>@Html.ActionLink("Listings", "Index", "Listings")</li>
                    <li>@Html.ActionLink("Photographs", "Index", "ListingPhotographs")</li>
                    <li>@Html.ActionLink("Schedule Types", "Index", "ListingScheduleTypes")</li>
                    <li>@Html.ActionLink("Ajax Panel", "Index", "AjaxPanel")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Real Estate Example</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery+bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
